language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"
install:
    - "pip install -r requirements.testing.txt"
before_script:
    - psql -c 'create database dictorm;' -U postgres
script:
    # Run tests verbosely
    - "green -vv --run-coverage dictorm"
    # Test installation
    - "python setup.py install"
    #  Verify that dictorm can be imported
    - "python -c 'from dictorm import *'"
services:
    - postgresql
addons:
      postgresql: "9.4"
after_success:
    # Submit coverage report to coveralls
    coveralls
